use flake
export GIT_CONFIG_GLOBAL=$HOME/.config/git/config
export XDG_CONFIG_HOME=$HOME/www/s/github.com/datsfilipe
export NVIM_APPNAME=datsnvim
use flake "github:datsfilipe/nix-envs?dir=tools#lua"
use flake "github:datsfilipe/nix-envs?dir=tools#nix"
