name: "build (x86_64-linux)"

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@v14
      with:
        extra-conf: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
          auto-optimise-store = false
          # Performance tweak: Disable fsync for faster unpacking on CI
          fsync-metadata = false

    - name: Configure Cachix
      uses: cachix/cachix-action@v15
      with:
        name: datsfilipe-dotfiles
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
    
    - name: Build package (x86_64-linux)
      run: nix build .#packages.x86_64-linux.default

    - name: Healthcheck modules load (x86_64-linux)
      run: ./result/bin/nvim --headless -c "lua require('user.modules.healthcheck')"
      
    - name: Evaluate home-manager module (x86_64-linux)
      run: nix eval .#homeManagerModules.x86_64-linux.default
